* {
  font-family: Arial;
 }

 body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h2 {
  color: #e8dd1d;
}

.contentWrapper {
  width: auto;
  max-width: 1200px;
  height: 700px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;
}

.logo {
  width: 200px;
  height: auto;
}

.react-clock__hand__body {
  background-color: #e8dd1d !important;
}

.react-clock__mark__body {
  background-color: white !important;
}

.construction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}



@media only screen and (min-width: 350px) and (max-width: 600px)
{
  .contentWrapper {
    min-width: 325px;
    width: auto;
    height: auto;
    max-height: 570px;
  }

  .construction {
    height: 80vh;
  }

}
@media only screen and (min-width: 100px) and (max-width: 349px)
{
  .contentWrapper {
    min-width: 325px;
    width: auto;
    height: auto;
    max-height: 570px;
  }

  .construction {
    height: 80vh;
  }

}